// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer(54px, "#main", "#main_footer", "#footer");
////////////////////////
// beg obb proto ///////
////////////////////////
.closereveal {
	position:absolute;
	top:1.25em;
	right:1.25em;
}
.active {
	opacity:0.5;
}
.square.grid .content {
	font-size:0.85em;
}
.square.grid .detail {
	padding:0.8em;
}
.ui > ul > li > a.badge_action {
	text-align:center;
}
.ui > ul > li > a.badge_action.bdet {
	background-image:url('../img/sprite.png');
	background-repeat:no-repeat;
	text-indent:-9000px;
	height:50px;
}
.ui {
	z-index:2;
}
.ui li {
	list-style-type:none;
}
.ui .f-dropdown > li > a.brfc {
float:left;
margin-right:1.25em;
}
.ui .f-dropdown > li > a:hover {
	text-decoration:underline;
}
.ui .f-dropdown > li hr {
	margin:0.625em 0;
}
.ui .submenu li:hover a {
	background-color:#fff;
}
.ui .f-dropdown {
	padding-top:0.625em;
	padding-bottom:0.625em;
}
.ui input {
	max-width:175px;
}
#badge_modal {
	display:none;
}

#badge_modal_inner {
	position:absolute;
	z-index:3;
	background-color:#fff;
	border-radius:2px;
	-webkit-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 14px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 14px rgba(50, 50, 50, 0.5);
	padding:1.25em;
}
#badge_modal_inner .close {
	position:absolute;
	top:0;
	right:0;
	padding:1.25em;
}
.alert-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:10;
	display:none;
}
#badgefilter > div, 
#badgefilter > select {
	
}
span.title {
	font-size:1.4em;
}
.square.grid {
	position:relative;
}
.square.grid > li {
	position:relative;
}
.square.grid > li > a {
	position:relative;
	display:block;
	width:100%;
	height:200px;
	background-color:#f0eee0;
	border-radius:2px;
	overflow:hidden;
}
.square.grid > li > .badgethumb > span.detail {
	display:block;
}
.square.grid > li > a > span.detail {
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	height:100%;
	background:rgba(240, 238, 224, 0.9);
}
.square.grid > li > .badgethumb {
	background-position:center 1.5em;
	background-repeat:no-repeat;
}
.square.grid > li > .badgethumb > span.detail > span {
	display:block;
}
.square.grid .ui {
	display:none;
	position:absolute;
	bottom:13px;
	left:0;
	width:100%;
	padding:0 0.625em;
}
.grid .ui > ul {
	margin-left:0px;
	display:inline-block;
	width:100%;
	font-size:.75em;
	background-color:rgb(251, 251, 249);
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top:1px solid #e5e5e5;
	margin-top:-1px;
}
.grid .ui > ul > li {
	margin-left:0px;
	float:left;
	width:50%;
	height:50px;
	text-align:center;
}
.modalless .grid .ui > ul > li {
	width:100%;
}
.grid .ui > ul > li > a {
	margin-top:1.248em;
}
.grid .ui > ul > li > a.bdet {
	display:block;
	margin-top:inherit;
}

.badge_action.bdet {
	background-position:center -200px;
}
.fullbadge img {
	float:right;
	padding:1.25em;
}
.fullbadge p {
	line-height:1.25em;
}
.fullbadge ul {
	list-style-position:inside;
}

.bapp.button {
	background-color:rgb(245, 163, 0);
	border-color:rgb(218, 133, 6);
}
.badgepag .badgeimg {
	text-align:center;
}
#footer {
	background-color:#182d39;
}
#footer > .row {
	color:#fff;
}

////////////////////////
// end obb proto ///////
////////////////////////
