{% extends "badges/layout.html" %}

{% block content %}
<div class="row">
  <div class="large-12 columns">

    <h3>{{ badge.name }}</h3>

    <ul class="small-block-grid-1 large-block-grid-2">
      <li class="badgedet">
        <div class="fullbadge">
          <p>{{ badge.description }}</p>
        </div>
        <div class="fullbadge">
          <a id="apply"><h3>Apply for this badge?</h3></a>
          <h5>Check out the criteria for this badge before you apply:</h5>
            {{ badge.criteria }}
            <h5>Tell us more about your work:</h5>
              <form id="apply-form" action="{{ url('badge.action', {badgeId: badge.id}) }}" method="post">
                <input type="hidden" name="badgeId" value="{{ badge.id }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <textarea name="description"></textarea>
                <h5>Your E-mail:</h5>
                  <input name="email" type="text">
                  <input type="submit"  class="bsubmit button small" value="Submit Application">
                  <p id="apply-feedback" style="margin-bottom:11px;color:red;display:none">Thanks for applying for this badge. A notification will be sent to you upon review of the badge application.</p>
              </form>
        </div>
      </li>

      <li>
        <img class="badgeimg" src="{{ badge.image }}">
      </li>

      <li class="badgedet">

      </li>
    </ul>
  </div>
</div>

<hr>
{% if otherBadges %}
<div class="row">
  <div class="large-12 columns">

    <h3>Other Badges</h3>

    <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
      {% for badge in otherBadges %}
      <li>
        <a class="badgethumb" data-shortname="{{ badge.shortname }}" href="/badges/{{ badge.shortname }}" style="background-image:url('{{ badge.image }}');">
              <span class="detail">
                <span class="title">{{ badge.name }}</span>
                <span class="content">{{ badge.description }}</span>
              </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}