{% extends "badges/layout.html" %}

{% block content %}
<div class="row">
  <div class="large-12 columns">

    <h3>{{ badge.name }}</h3>

    <ul class="small-block-grid-1 large-block-grid-2">
      <li class="badgedet">
        <div class="fullbadge">
          <p>{{ badge.description }}</p>
        </div>
        <div class="fullbadge">
          <h3 id="apply">Apply for this badge?</h3>
          <h4>Check out the criteria for this badge before you apply:</h4>
            {{ badge.criteria }}
            <h4>Tell us more about your work:</h4>
              <form id="apply-form" action="{{ url('badge.apply', {badgeId: badge.id}) }}" method="post">
                <input type="hidden" name="badgeId" value="{{ badge.id }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <textarea name="description"></textarea>
                <h4>Your E-mail:</h4>
                  <input name="email" type="email">
                  <input type="submit"  class="bsubmit button small" value="Submit Application">
                  <p id="apply-feedback"></p>
              </form>
        </div>
      </li>

      <li>
        <img class="badgeimg" src="{{ badge.image }}">
      </li>
    </ul>
  </div>
</div>

{% if otherBadges %}
<hr>
<div class="row">
  <div class="large-12 columns">

    <h3>Other Badges</h3>

    <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
      {% for badge in otherBadges %}
      <li>
        <a class="badgethumb" href="{{ url('badge', {badgeId: badge.id }) }}" style="background-image:url('{{ badge.image }}');">
              <span class="detail">
                <span class="title">{{ badge.name }}</span>
                <span class="content">{{ badge.description }}</span>
              </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}