{% extends "badges/layout.html" %}


{% block content %}
{% if badges %}
<div class="row">
  <div class="large-12 columns">

    <h3>Available Badges</h3>

    <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
      {% for badge in badges %}
      <li>
        <a class="badgethumb" data-shortname="{{ badge.shortname }}" href="/badges/{{ badge.shortname }}" style="background-image:url('{{ badge.image }}');">
            <span class="detail">
              <span class="title">{{ badge.name }}</span>
              <span class="content">{{ badge.description }}</span>
            </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}