/* ===[ Fonts ]============================================================== */

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}

/* ===[ Reset ]============================================================== */

html,
body {
  margin: 0;
  padding: 0;
}

a,
label.link {
  color: #b1cf37;
  cursor: pointer;
  text-decoration: underline;
}

h2,
h3,
h4 {
  font-weight: normal;
  margin: 1.75em 0 1em;
  clear: both;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 1.95em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  margin: 1.5em 0 0;
  line-height: 1.5em;
}

input,
button {
  font: inherit;
}

@media all and (max-width: 740px) {
  h2 {
    margin-top: 1em;
  }
}

@media all and (max-width: 400px) {
  h2 {
    font-size: 1.95em;
  }

  h3 {
    font-size: 1.55em;
  }
}

/* ===[ Base styles ]======================================================== */

body {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
}

.constrained {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

@media all and (max-width: 400px) {
  .constrained {
    padding: 0 10px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-hidden {
  position: absolute;
  left: -999em;
}

.intro {
  font-size: 1.25em;
  margin: -0.75em 0 0;
}

.tagline {
  font-size: 1.5em;
  margin: -2em 0 0;
  font-style: italic;
}

.reduced {
  font-size: 0.78em;
}

/* ---[ Alerts ]------------------------------------------------------------- */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcefd4;
  border: 1px solid #fae1c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert,
.alert .title {
  color: #eca918;
}

.alert .title {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  background-color: #caeecf;
  border-color: #b7e8b6;
  color: #38b44a;
}

.alert-success .title {
  color: #38b44a;
}

.alert-danger,
.alert-error {
  background-color: #fadfdd;
  border-color: #f8d0d4;
  color: #df382c;
}

.alert-danger .title,
.alert-error .title {
  color: #df382c;
}

.alert-info {
  background-color: #e7b8d1;
  border-color: #de9ecb;
  color: #772953;
}

.alert-info .title {
  color: #772953;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* ---[ Columns ]------------------------------------------------------------ */

.two-column,
.three-column {
  overflow: hidden;
  margin: 25px 0 0 -25px;
  padding: 0;
  list-style: none;
}

.two-column .column,
.three-column .column {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  border-left: solid 25px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.two-column .column:nth-child(odd) {
  clear: both;
}

.three-column .column {
  width: 33.33%;
}

.three-column .column:nth-child(3n+1) {
  clear: both;
}

@media all and (max-width: 1000px) {
  .three-column .column {
    float: none;
    width: auto;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 740px) {
  .two-column,
  .three-column {
    margin-left: -10px;
  }

  .two-column .column,
  .three-column .column {
    float: none;
    width: auto;
    border-left-width: 10px;
  }
}

/* ===[ Header bar ]========================================================= */

#header {
  border-top: solid 2px #FFF;
}

#header :link,
#header :visited {
  color: inherit;
  text-decoration: none;
}

#tabzilla-panel {
  z-index: 1000;
}
