/* ===[ Fonts ]============================================================== */

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}

/* ===[ Reset ]============================================================== */

html,
body {
  margin: 0;
  padding: 0;
}

a,
label.link {
  color: #b1cf37;
  cursor: pointer;
  text-decoration: underline;
}

h2,
h3,
h4 {
  font-weight: normal;
  margin: 1.75em 0 1em;
  clear: both;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 1.95em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  margin: 1.5em 0 0;
  line-height: 1.5em;
}

input,
button {
  font: inherit;
}

@media all and (max-width: 740px) {
  h2 {
    margin-top: 1em;
  }
}

@media all and (max-width: 400px) {
  h2 {
    font-size: 1.95em;
  }

  h3 {
    font-size: 1.55em;
  }
}

/* ===[ Base styles ]======================================================== */

body {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
}

.constrained {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-hidden {
  position: absolute;
  left: -999em;
}

.intro {
  font-size: 1.25em;
  margin: -0.75em 0 0;
}

.tagline {
  font-size: 1.5em;
  margin: -2em 0 0;
  font-style: italic;
}

.reduced {
  font-size: 0.78em;
}

/* ---[ Alerts ]------------------------------------------------------------- */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcefd4;
  border: 1px solid #fae1c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert,
.alert .title {
  color: #eca918;
}

.alert .title {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  background-color: #caeecf;
  border-color: #b7e8b6;
  color: #38b44a;
}

.alert-success .title {
  color: #38b44a;
}

.alert-danger,
.alert-error {
  background-color: #fadfdd;
  border-color: #f8d0d4;
  color: #df382c;
}

.alert-danger .title,
.alert-error .title {
  color: #df382c;
}

.alert-info {
  background-color: #e7b8d1;
  border-color: #de9ecb;
  color: #772953;
}

.alert-info .title {
  color: #772953;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* ---[ Grid System ]-------------------------------------------------------- */

.grid-wrapper {
  margin-left: -2em;
  overflow: hidden;
  clear: both;
}

.grid-item {
  float: left;
  padding-left: 2em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.offset-none {
  margin-left: 0;
}

.all-width-one-fifth > .grid-item,
.width-one-fifth {
  width: 20%;
}

.offset-one-fifth {
  margin-left: 20%;
}

.all-width-one-quarter > .grid-item,
.width-one-quarter {
  width: 25%;
}

.offset-one-quarter {
  margin-left: 25%;
}

.all-width-one-third > .grid-item,
.width-one-third {
  width: 33.3333%;
}

.offset-one-third {
  margin-left: 33.3333%;
}

.all-width-two-fifths > .grid-item,
.width-two-fifths {
  width: 40%;
}

.offset-two-fifths {
  margin-left: 40%;
}

.all-width-one-half > .grid-item,
.width-one-half {
  width: 50%;
}

.offset-one-half {
  margin-left: 50%;
}

.all-width-three-fifths > .grid-item,
.width-three-fifths {
  width: 60%;
}

.offset-three-fifths {
  margin-left: 60%;
}

.all-width-two-thirds > .grid-item,
.width-two-thirds {
  width: 66.6666%;
}

.offset-two-thirds {
  margin-left: 66.6666%;
}

.all-width-three-quarters > .grid-item,
.width-three-quarters {
  width: 75%;
}

.offset-three-quarters {
  margin-left: 75%;
}

.all-width-four-fifths > .grid-item,
.width-four-fifths {
  width: 80%;
}

.offset-four-fifths {
  margin-left: 80%;
}

.all-width-full > .grid-item,
.width-full {
  width: 100%;
}

@media (max-width: 40em) {
  .offset-none-when-small {
    margin-left: 0;
  }

  .all-width-one-fifth-when-small > .grid-item,
  .width-one-fifth-when-small {
    width: 20%;
  }

  .offset-one-fifth-when-small {
    margin-left: 20%;
  }

  .all-width-one-quarter-when-small > .grid-item,
  .width-one-quarter-when-small {
    width: 25%;
  }

  .offset-one-quarter-when-small {
    margin-left: 25%;
  }

  .all-width-one-third-when-small > .grid-item,
  .width-one-third-when-small {
    width: 33.3333%;
  }

  .offset-one-third-when-small {
    margin-left: 33.3333%;
  }

  .all-width-two-fifths-when-small > .grid-item,
  .width-two-fifths-when-small {
    width: 40%;
  }

  .offset-two-fifths-when-small {
    margin-left: 40%;
  }

  .all-width-one-half-when-small > .grid-item,
  .width-one-half-when-small {
    width: 50%;
  }

  .offset-one-half-when-small {
    margin-left: 50%;
  }

  .all-width-three-fifths-when-small > .grid-item,
  .width-three-fifths-when-small {
    width: 60%;
  }

  .offset-three-fifths-when-small {
    margin-left: 60%;
  }

  .all-width-two-thirds-when-small > .grid-item,
  .width-two-thirds-when-small {
    width: 66.6666%;
  }

  .offset-two-thirds-when-small {
    margin-left: 66.6666%;
  }

  .all-width-three-quarters-when-small > .grid-item,
  .width-three-quarters-when-small {
    width: 75%;
  }

  .offset-three-quarters-when-small {
    margin-left: 75%;
  }

  .all-width-four-fifths-when-small > .grid-item,
  .width-four-fifths-when-small {
    width: 80%;
  }

  .offset-four-fifths-when-small {
    margin-left: 80%;
  }

  .all-width-full-when-small > .grid-item,
  .width-full-when-small {
    width: 100%;
  }
}

@media (max-width: 30em) {
  .offset-none-when-tiny {
    margin-left: 0;
  }

  .all-width-one-fifth-when-tiny > .grid-item,
  .width-one-fifth-when-tiny {
    width: 20%;
  }

  .offset-one-fifth-when-tiny {
    margin-left: 20%;
  }

  .all-width-one-quarter-when-tiny > .grid-item,
  .width-one-quarter-when-tiny {
    width: 25%;
  }

  .offset-one-quarter-when-tiny {
    margin-left: 25%;
  }

  .all-width-one-third-when-tiny > .grid-item,
  .width-one-third-when-tiny {
    width: 33.3333%;
  }

  .offset-one-third-when-tiny {
    margin-left: 33.3333%;
  }

  .all-width-two-fifths-when-tiny > .grid-item,
  .width-two-fifths-when-tiny {
    width: 40%;
  }

  .offset-two-fifths-when-tiny {
    margin-left: 40%;
  }

  .all-width-one-half-when-tiny > .grid-item,
  .width-one-half-when-tiny {
    width: 50%;
  }

  .offset-one-half-when-tiny {
    margin-left: 50%;
  }

  .all-width-three-fifths-when-tiny > .grid-item,
  .width-three-fifths-when-tiny {
    width: 60%;
  }

  .offset-three-fifths-when-tiny {
    margin-left: 60%;
  }

  .all-width-two-thirds-when-tiny > .grid-item,
  .width-two-thirds-when-tiny {
    width: 66.6666%;
  }

  .offset-two-thirds-when-tiny {
    margin-left: 66.6666%;
  }

  .all-width-three-quarters-when-tiny > .grid-item,
  .width-three-quarters-when-tiny {
    width: 75%;
  }

  .offset-three-quarters-when-tiny {
    margin-left: 75%;
  }

  .all-width-four-fifths-when-tiny > .grid-item,
  .width-four-fifths-when-tiny {
    width: 80%;
  }

  .offset-four-fifths-when-tiny {
    margin-left: 80%;
  }

  .all-width-full-when-tiny > .grid-item,
  .width-full-when-tiny {
    width: 100%;
  }
}

@media (min-width: 60em) {
  .offset-none-when-large {
    margin-left: 0;
  }

  .all-width-one-fifth-when-large > .grid-item,
  .width-one-fifth-when-large {
    width: 20%;
  }

  .offset-one-fifth-when-large {
    margin-left: 20%;
  }

  .all-width-one-quarter-when-large > .grid-item,
  .width-one-quarter-when-large {
    width: 25%;
  }

  .offset-one-quarter-when-large {
    margin-left: 25%;
  }

  .all-width-one-third-when-large > .grid-item,
  .width-one-third-when-large {
    width: 33.3333%;
  }

  .offset-one-third-when-large {
    margin-left: 33.3333%;
  }

  .all-width-two-fifths-when-large > .grid-item,
  .width-two-fifths-when-large {
    width: 40%;
  }

  .offset-two-fifths-when-large {
    margin-left: 40%;
  }

  .all-width-one-half-when-large > .grid-item,
  .width-one-half-when-large {
    width: 50%;
  }

  .offset-one-half-when-large {
    margin-left: 50%;
  }

  .all-width-three-fifths-when-large > .grid-item,
  .width-three-fifths-when-large {
    width: 60%;
  }

  .offset-three-fifths-when-large {
    margin-left: 60%;
  }

  .all-width-two-thirds-when-large > .grid-item,
  .width-two-thirds-when-large {
    width: 66.6666%;
  }

  .offset-two-thirds-when-large {
    margin-left: 66.6666%;
  }

  .all-width-three-quarters-when-large > .grid-item,
  .width-three-quarters-when-large {
    width: 75%;
  }

  .offset-three-quarters-when-large {
    margin-left: 75%;
  }

  .all-width-four-fifths-when-large > .grid-item,
  .width-four-fifths-when-large {
    width: 80%;
  }

  .offset-four-fifths-when-large {
    margin-left: 80%;
  }

  .all-width-full-when-large > .grid-item,
  .width-full-when-large {
    width: 100%;
  }
}

/* ===[ Header bar ]========================================================= */

#header {
  border-top: solid 2px #FFF;
}

#header :link,
#header :visited {
  color: inherit;
  text-decoration: none;
}

#tabzilla-panel {
  z-index: 1000;
}
