/* ===[ Core ]=============================================================== */

body {
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;
  background: #000B19;
  color: #F0F0F0;
}

h4 {
  color: #5fc9e5;
}

/* ===[ Header/Footer ]====================================================== */

#header {
  background: #e6e7e8;
  border-top: solid 2px #FFF;
  border-bottom: solid 6px #5fc9e5;
  position: relative;
}

#header :link,
#header :visited {
  color: #073A5A;
}

#footer {
  position: relative;
  border-top: solid 6px #5fc9e5;
  padding: 20px 0;
}

#footer a {
  color: inherit;
}

#header .constrained,
#footer .constrained {
  overflow: hidden;
}

#header a,
#footer a {
  text-decoration: none;
}

#header::before,
#header::after,
#footer::before,
#footer::after {
  content: "";
  height: 6px;
  width: 33.33%;
  position: absolute;
  left: 33.33%;
  background: #b1cf37;
}

#header::before,
#header::after {
  bottom: -6px;
}

#footer::before,
#footer::after {
  top: -6px;
}

#header::after,
#footer::after {
  left: 66.66%;
  background: #f48123;
}

/* ---[ Etc. ]--------------------------------------------------------------- */

#tabzilla {
  margin-top: -28px;
}

#header h1,
#footer .footnote,
#footer .support {
  margin: 0;
  padding: 28px 0;
}

#home,
#footer .footnote a {
  display: block;
  width: 300px;
  height: 80px;
  background: url("../images/logo.png");
  text-indent: -100%;
  overflow: hidden;
  margin-left: -14px;
}

#footer .footnote a {
  background-position: 0 -80px;
}

#footer .support {
  height: 80px;
  line-height: 20px;
  padding-top: 0;
}

#footer .support img {
  margin-top: -35px;
  height: 80px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1em;
}

/* ---[ Navigation ]--------------------------------------------------------- */

#header nav,
#footer nav {
  float: right;
  margin-top: -45px;
}

#header nav.secondary,
#footer nav.secondary {
  margin-top: -60px;
}

#header nav ul,
#footer nav ul {
  margin: -1em 0 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
}

#header nav li,
#footer nav li {
  float: left;
  margin-left: 1.5em;
}

@media all and (max-width: 1000px) {
  #header nav,
  #footer nav {
    float: none;
    clear: both;
    margin: 0;
  }

  #header nav.secondary,
  #footer nav.secondary {
    margin-top: -35px;
  }

  #header nav ul,
  #footer nav ul {
    overflow: hidden;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 1.5em;
  }

  #header nav li,
  #footer nav li {
    float: none;
    display: inline-block;
    margin: 0 0.75em;
  }

}

/* ===[ Main Content ]======================================================= */

#content {
  min-height: 300px;
  padding: 5px 0 100px;
  background: #FFFFFF 50% 100% no-repeat;
  color: #1f3959;
}

#content .badge-name {
  margin-top: 1em;
  margin-bottom: 0em;
  font-weight: bolder;
}

#content .badge-description {
  margin-top: 0em;
}

#content .badge-image {
  width: 80%;
}

#content button {
  background-color:#1f3959;
  border: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  text-indent:0;
  color:#ffffff;
  font-size:30px;
  font-weight:bold;
  white-space: nowrap;
}

#content button.large-button {
  margin-top:50px;
  width:300px;
  height:70px;
}

/* ===[ Claim Codes ]======================================================== */

#claim-form {
  font-size: 1.5em;
  margin-top: 1.5em;
}

#claim-form input {
  width:80%
}

#claim-form button {
  position: relative;
  top: 2px;
}

.breadcrumbs {
  text-align: center;
  background-color: #eee;
  height: 0.4em;
  counter-reset: breadcrumb;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  top: -0.6em;
  margin: 0px 40px;
  padding: 0px 8px;
  background-color: white;
  color: #ccc;
  counter-increment: breadcrumb;
}

.breadcrumbs li:before {
  content: counter(breadcrumb);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  line-height: 1.5em;
  font-size: 0.8em;
  background-color: #ccc;
  color: white;
  margin-right: 10px;
}

.breadcrumbs .current {
  color: inherit;
}

.breadcrumbs .current:before {
  background-color: rgb(31, 57, 89);
}

/* ===[ Badges ]============================================================= */

/* ---[ Thumbnails ]--------------------------------------------------------- */

.badge-thumb {
  width: 100%;
}

.badge-thumb > a {
  text-decoration: none;
}

.badge-thumb .title {
  font-size: 1em;
  font-weight: bold;
}

.badge-thumb .image {
  display: block;
  margin: 0 auto;
  width: 90%;
}