{% extends "core/layout.html" %}

{% from "macros/claim.html" import breadcrumbs %}

{% block content %}
{{ breadcrumbs('collect') }}
<h3 class="">Congratulations!  You earned a badge.</h3>
<p class="intro">Now, send it to your Mozilla Badge Backpack. The Backpack allows you to collect and share your badges across the web.</p>
<div class="grid-wrapper">
  <div class="grid-item width-three-fifths width-full-when-small">
    <img class="badge-image" src="{{ badge.imageUrl }}">
  </div>
  <div class="grid-item width-two-fifths width-full-when-small">
    <h3 class="badge-name">{{ badge.name }}</h3>
    <p class="badge-description">{{ badge.description }}</p>
    <form method="post" action="http://backpack.openbadges.org/issuer/frameless" target="_blank" id="claim-form">
      <input type="hidden" name="assertions" value="{{ badge.assertionUrl }}">
      <button type="submit" class="large-button">Send to Backpack</button>
    </form>
  </div>
</div>
{% endblock %}

{% block foot %}
  {{ super() }}
  <script type="text/javascript">
    var form = document.getElementById('claim-form');
    form.onsubmit = function () {
      setTimeout(function (){
        window.location.href = "{{ url('claim.share') | addQueryString(email=email, badgeSlug=badge.slug) }}";
      }, 0);
      return true;
    };
  </script>
{% endblock %}
