{% extends "core/layout.html" %}

{% from "macros/claim.html" import breadcrumbs %}

{% block content %}
{{ breadcrumbs('claim') }}
<h2 class="text-center">Claim your badge</h2>
<div class="grid-wrapper all-width-one-half all-width-full-when-small">
  <div class="grid-item">
    <img class="badge-image" src="{{ badge.image }}">
  </div>
  <div class="grid-item">
    <h3 class="badge-name">{{ badge.name }}</h3>
    <p class="badge-description">{{ badge.description }}</p>
    <form method="post" action="{{ url('claim.action') }}" id="claim-form" class="text-center">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="code" value="{{ code }}">
      <label for="email">Enter your email address</label>
      <input type="email" name="email" required>
      <button type="submit">Go</button>
    </form>
  </div>
</div>
{% endblock %}
