{% extends "core/layout.html" %}

{% block content %}
  <h2 class="text-center"><code>/^Open( Badges){2,}$/</code></h2>
  <p class="intro text-center">Some copy about Open Badges Badges</p>
  {% if badges %}
    <div class="grid-wrapper all-width-one-quarter all-width-one-half-when-small all-width-full-when-tiny">
      {% for badge in badges %}
        <div class="grid-item">
          <div class="badge-thumb">
            <a href="{{ url('badge', {badgeSlug: badge.slug}) }}">
              <h3 class="title">{{ badge.name }}</h3>
              <img src="{{ badge.imageUrl }}" class="image">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
