{% extends "core/layout.html" %}

{% block content %}
<div class="two-column">
  <div class="column">
    <img style="width: 100%;" src="{{ badge.image }}">
  </div>
  <div class="column">
    <p>Congrats! You earned the {{ badge.name }} badge. Now, send it to your Mozilla Badge Backpack. The Backpack allows you to collect and share your badges across the web.</p>
    <button style="margin-top:2em;margin-left:auto;margin-right:auto;display:block" type="submit" id="send-button" data-assertion-url="{{ badge.assertionUrl }}">Send to Backpack</button>
  </div>
</div>
{% endblock %}

{% block foot -%}
  {{ super() }}
  <script type="text/javascript" src="{{ static('/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ static('/js/send-to-backpack.js') }}"></script>
{%- endblock %}
