<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Open Badges Badges{% endblock %}</title>
    {% block head -%}
    <link rel="stylesheet" id="tabzilla-css" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
    <link rel="stylesheet" href="{{ static('/css/base.css') }}">
    {%- endblock %}
  </head>
  <body>
    {% block body -%}
      {% block header -%}
        <div id="top-bar">
          <div class="constrained">
            <a href="http://www.mozilla.org" id="tabzilla">Mozilla</a>
            <a href="http://www.openbadges.org" id="openbadges">Open Badges</a>
          </div>
        </div>
      {%- endblock %}
      {% block contentWrapper -%}
        <div id="content">
          <div class="constrained">
            {% block content -%}
            {%- endblock %}
          </div>
        </div>
      {%- endblock %}
      {% block footer -%}
      {%- endblock %}
    {%- endblock %}
    {% block foot -%}
    <script type="text/javascript" src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    {%- endblock %}
  </body>
</html>