<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Open Badges Badges{% endblock %}</title>
    {% block head -%}
    <link rel="stylesheet" href="{{ static('/css/base.css') }}">
    {%- endblock %}
  </head>
  <body>
    {% block body -%}
      {% block headerWrapper -%}
        <header id="header">
          <div class="constrained">
            {% block header -%}
              <h1>
                <a href="{{ url('home') }}" id="home">Open Badges</a>
              </h1>
            {%- endblock %}
          </div>
        </header>
      {%- endblock %}
      {% block contentWrapper -%}
        <div id="content">
          <div class="constrained">
            {% block notices %}
                {% for type, messages in _messages %}
                    {% if type != 'modal' %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message.value }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endblock %}
            {% block content -%}
            {%- endblock %}
          </div>
        </div>
      {%- endblock %}
      {% block footerWrapper -%}
        <footer id="footer">
          <div class="constrained">
            {% block footer -%}
            {%- endblock %}
          </div>
        </footer>
      {%- endblock %}
    {%- endblock %}
    {% block foot -%}
    {%- endblock %}
  </body>
</html>
